pandas
matplotlib
numpy
schedule
slack_sdk
selenium
webdriver-manager
beautifulsoup4
PyPDF2
python-docx
Pillow
openpyxl
PyQt5
openai
pyautogui
pytesseract
google-generativeai
google-api-python-client
google-api-core
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
opencv-python
mplcursors
customtkinter
tzdata
tkinterdnd2
python-dotenv